@import "./variables.scss";

.photos {
  margin-top: 16px;
}

.photos__elem {
  display: inline-block;
}

.photos__img {
  max-width: 100%;
}

.brlt-7 {
  border-radius: 7px 0 0;
}

.brrt-7 {
  border-radius: 0 7px 0 0;
}

.brrb-7 {
  border-radius: 0 0 7px;
}

.brlb-7 {
  border-radius: 0 0 0 7px;
}

@media (max-width: 1201px) {
  .photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .photos__elem {
    width: 30%;
  }
  
}

@media (max-width: 992px) {
  .photos {
    justify-content: space-around;
  }

  
}