@import "./variables.scss";

.user-photo {
  background: $FACEBOOK_BLUE;
  border-radius: 50%;
}

.user-photo_size-41 {
  width: 41px;
  height: 41px;
}

.user-photo_size-33 {
  width: 41px;
  height: 41px;
}

@media (max-width: 576px) {
  .user-photo {
    max-width: 29px;
    max-height: 29px;
  }
}