@import "../variables.scss";
.user {
  margin-top: 62px;
  background: linear-gradient(180deg, #6F6F7A 0%, #FFFFFF 47.92%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.user__container {
  width: 65%;
  max-width: 877px;
  margin: 0 auto;
}

.user__theme-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.user__privacy {
  display: flex;
  justify-content: space-between;
}

.user__photo {
  margin-top: -20px;
  display: inline-block;
}
.user__photo-img {
  border-radius: 100%;
}

.user__info {
  display: inline-block;
}

.user__text {
  display: inline-block;
  vertical-align: top;
  margin-left: 28px;
  margin-top: 42px;
}

.user__name {
  font-weight: bold;
  font-size: 28px;
  color: $FACEBOOK_BLACK;
}

.user__subtitle {
  font-weight: normal;
  font-size: 17px;
  color: $FACEBOOK_GREY;
}

.user__book {
  align-self: flex-end;
}

.user__book-btn {
  width: 312px;
  height: 40px;
  background: $FACEBOOK_BLUE;
  border-radius: 6px;
  color: white;
  border: none;
  outline: none;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px $FACEBOOK_BLUE;
  }

  &:active {
    box-shadow: -5px -5px 5px rgba($FACEBOOK_BLUE, 0.5);
  }
}

.fa-calendar-alt {
  font-size: 16px;
  margin-right: 6px;
}



.user_btns {
  padding: 12px 0 0;
  border-top: 1px solid #CFD0D4;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.user__tabs {
  display: flex;
}

.user__tab {
  cursor: pointer;
  margin-top: 9px;
  padding: 0 16px 18px;
  font-weight: 500;
  font-size: 15px;
  outline: none;
  border: none;
  background: white;
  border-bottom: 3px solid transparent;
  &:hover {
    border-bottom: 3px solid $FACEBOOK_BLUE;
  }
  &:focus {
    border-bottom: 3px solid $FACEBOOK_BLUE;
  }
  position: relative;
}

.user__utils {
  display: flex;
  color: $FACEBOOK_BLACK;
  justify-content: space-between;
  & :nth-child(n) {
    margin-right: 5px;
  }
  & :last-child {
    margin-right: 0;
  }
}


.user__triangle {
  position: absolute;
  right: 0;
  top: 10%;
  border: 5px solid transparent;
  border-top: 9px solid $FACEBOOK_GREY;
}


.mr6 {
  margin-right: 6px;
}


@media (max-width: 1201px) {
  .user__theme-img {
    max-width: 70%;
  }
}


@media (max-width: 1170px) {
  .user__tab {
    font-size: 13px;
    padding: 0 8px 9px;
  }

  .user__triangle {
    right: -5px;
  }
}

@media (max-width: 876px) {
  .user {
    margin-top: 0;
  }

}

@media (max-width: 992px) {
  .user__tab {
    padding: 0 4px 4px;
    margin-top: 0;
    font-size: 12px;
  }

  .user_btns {
    padding-top: 6px;
  }

  .user__utils {
    padding-bottom: 5px;
  }

  .user__triangle {
    top: 50%;
    transform: translateY(-50%);
    right: -7px;
  }
}

@media (max-width: 768px) {
  
  .user__book-btn {
    max-width: 120px;
    font-size: 15px;
  }

  .user__photo-img {
    width: 100px;
  }

  .user__text {
    margin-left: 10px;
    margin-top: 5px;
  }

  .user__name {
    font-size: 20px;
  }

  .user__subtitle {
    font-size: 15px;
  }

  .user_btns {
    flex-direction: column-reverse;
  }

  .user__tabs {
    margin-top: 10px;
    justify-content: space-between;
  }

  .user__tab {
    padding: 8px;
  }
}

@media (max-width: 576px) {
  .user__theme {
    display: none;
  }

  .user__photo {
    margin-top: 0;
  }
  .user__book-btn {
    max-width: 88px;
    font-size: 12px;
    height: 30px;
  }

  .user__tabs {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}