@import "../variables.scss";
.util {
  background: #E5E6EB;
  border-radius: 6px;
  border: none;
  outline: none;

  &:hover {
    color: $FACEBOOK_BLUE;
  }
  &:active {
    background: $FACEBOOK_LIGHT_BLUE;
  }
}

.util-message,
.util-liked {
  width: 110px;
  height: 36px;
}

.util-search {
  width: 48px;
  height: 36px;
}

.util-more {
  width: 44px;
  height: 36px;  
}

.util-create-post {
  width: 424px;
  margin-left: 12px;

  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: $FACEBOOK_BLACK;
}

@media (max-width: 1200px) {
  .util-create-post {
    max-width: 85%;
  }
}

@media (max-width: 1170px) {
  .util-message,
  .util-liked {
    max-width: 90px;
    font-size: 13px;
    height: 30px;
  }

  .util-create-post {
    max-width: 75%;
  }

  .util-search,
  .util-more {
    height: 30px;
  }
}

@media (max-width: 992px) {
  .util-message,
  .util-liked {
    max-width: 70px;
    height: 25px;
    border-radius: 20px;
    padding: 1px 10px;
  }

  .util-search,
  .util-more {
    height: 25px;
    border-radius: 20px;
  }

  .mr6 {
    display: none;
  }
}