@import "../variables.scss";

.wall__container {
  width: 65%;
  max-width: 877px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.wall {
  background: #F0F2F5;
  padding-top: 15px;
}

.wall-block {
  padding: 12px 15px 16px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  max-width: 330px;
}


.wall-block__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wall-block__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: $FACEBOOK_BLACK;
  margin: 0;
}

.wall-block__see-all {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: $FACEBOOK_BLUE;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.wall-block_photos,
.wall-block_videos,
.wall-block_page-info {
  margin-top: 16px;
}

.wall-block__video-wrapper {
  margin-top: 16px;
}

.wall-block__logo {
  margin-right: 6px;
}

.wall-post {
  padding: 12px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  max-width: 501px;
}

.wall-post-create__head {
  display: flex;
}

.wall-post-create__add-btn {
  outline: none;
  border: none;
  background: none;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: $FACEBOOK_GREY;

  &:hover {
    color: $FACEBOOK_BLACK;
  }
}


.fa-file-image {
  color: #67BA6C;
}

.fa-user-tag {
  color: $FACEBOOK_BLUE;
}

.fa-map-marker-alt {
  color: $FACEBOOK_RED;
}

.wall-post-create__adds {
  margin-top: 21px;
  margin-left: 12px;
  display: flex;
  justify-content: space-between;
}

.wall-post-info {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  color: $FACEBOOK_GREY;

  margin-top: 32px;
}

.wall-post__cards {
  margin-top: 11px;
}

@media (max-width: 1201px) {
  .wall-post {
    max-width: 370px;
  }

  .wall-block {
    max-width: 320px;
  }

  .wall-post-create__head {
    justify-content: space-between;
  }
}

@media (max-width: 1170px) {
  .wall-post {
    max-width: 300px;
  }

  .wall-block {
    max-width: 270px;
  }

  .wall-post-create__add {
    display: flex;
    align-items: center;
  }

  .wall-post-create__adds {
    margin-left: 0;
  }

  .wall-post-create__add-btn {
    font-size: 13px;
  }

}

@media (max-width: 992px) {
  .wall__container {
    flex-direction: column;
  }

  .wall-block {
    max-width: 100%;
  }

  .wall-post {
    max-width: 100%;
  }

  .wall-post-create {
    margin-top: 15px;
  }

  .wall {
    padding-bottom: 50px;
  }
}