@import "./variables.scss";

.wall-post-pinned {
  margin-top: 11px;
}

.wall-post-pinned__user-info {
  display: inline-flex;
}

.wall-post-pinned__user-text {
  margin-left: 7px;
  color: $FACEBOOK_GREY;
}

.text-up {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.bold {
  font-weight: 500;
  color: $FACEBOOK_BLACK;
}

.text-down {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.025em;
}

.wall-post-pinned__head {
  display: flex;
  justify-content: space-between;
}

.wall-post-pinned__more {
  color: #8C939C;
  font-size: 25px;
  line-height: 20px;
  margin-right: 15px;
}

.wall-post-pinned__text {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;

  margin-top: 9px;
  max-width: 459px;
  color: $FACEBOOK_BLACK;
}


.wall-post-pinned__img-big {
  margin-top: 16px;
  background: url('img/post_pinned.png');
  width: 100%;
  height: 266px;
  transform: scale(1.05);
}

.wall-post-pinned__post-info {
  margin-top: 20px;

  font-size: 15px;
  line-height: 18px;

  color: $FACEBOOK_GREY;

  display: flex;
  justify-content: space-between;
}

.wall-post-pinned__smiley {
  width: 18px;
  height: 18px;
  background-color: $FACEBOOK_GREY;
  border-radius: 50%;
  display: inline-block;
  margin-left: -5px;
  vertical-align: top;
}

.ml9 {
  margin-left: 9px;
}

.wall-post-pinned__btns {
  margin-top: 12px;
  border-top: 1px solid #CFD0D4;
  border-bottom: 1px solid #CFD0D4;
  position: relative;
}

.wall-post-pinned__btn {
  width: 32.5%;
  border: 1px solid transparent;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  background: none;
  color: $FACEBOOK_GREY;
  height: 40px;
  transition: all .5s;

  &:hover {
    border-left: 1px solid $FACEBOOK_GREY;
    border-right: 1px solid $FACEBOOK_GREY;
  }

  &:active {
    background: $FACEBOOK_GREY;
    color: white;
  }
}


.wall-post-pinned__filter {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: $FACEBOOK_GREY;
  margin-top: 9px;
  display: block;
}